# Compilados Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Archivos con credenciales — NUNCA subir
SbSchoolManager/sbschoolmanager-api/src/main/resources/application-local.properties
SbSchoolManager/sbschoolmanager-api/src/main/resources/application-docker.properties

# IntelliJ
.idea/
*.iml

# Logs
*.log